*{
    margin: 0;
    padding: 0;
    font-family: "Gilroy Light";
}

body{
    background-image:url("../images/front2.jpg");
    background-attachment:fixed;
    background-size: cover;
}

#landing .col,#landing .row{
    margin:0;
    padding: 0;
}

#btn-div{
    text-align: center;
    margin: 40vh auto;
}
.btn{
    border-radius: 14px;
}

/*END OF LANDING PAGE*/

#form-container{;
    margin-top: 50px;
    padding: 50px;
    font-size: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 100, 240, 0.6) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.3) 0px 0px 0px 4px inset;
    width: 60vw;
    border-radius: 14px;
    text-shadow:  1px 1px 2px #a9e4f3;
    font-weight: bold;
    overflow: auto;

}
#form-container input, textarea{
    width: 100%;
    color: black;
}
h1{
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
    text-decoration: underline;
}
#form-container button{
    width: 100%;
    margin: 40px 0;
}

@media (max-width: 1530px) {
    #form-container {
        width: 70vw;
    }
}@media (max-width: 994px) {
    #form-container {
        width: 90vw;
        height: 90vh;
    }
}

/*TABLE*/
#res-table{
    width: 98vw;
    margin: 0 auto;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 100, 240, 0.6) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.3) 0px 0px 0px 4px inset;
    border-radius:10px;
    text-shadow:  1px 1px 2px #a9e4f3;
    font-size: 1.3rem;
    font-weight: 900;
    background: rgba(164, 220, 217, 0.6);
}

/*NAV*/

nav a{
    font-size: 1.88rem;
}

@media (max-width: 470px){
    #submit-depart{
        width: 30%;
        font-size: .7rem;
    }
}


.add-spacing{
    margin: 10px 0;
}