<%-include('base/header')%>


<div  >
    <div class="row" id="btn-div">
        <form action="/form" method="get">
            <button  type="submit" class="btn btn-outline-dark btn-lg" style="font-size: 3rem;color: mintcream;font-weight: bold;border: 4px solid">Fill entry form</button>
        </form>
    </div>

</div>

<%-include('base/footer')%>
